In [21]:
dataset=[['3','4','5'],
        ['2','3','5'],
        ['6','1','2','5'],
        ['2','5'],
        ['1','3','6'],
        ['5','6','7','9'],
        ['4','6','2','1'],
        ['1','2','3','4'],
        ['4','5','6','9'],
        ['1','6','7','9']]

In [22]:
from mlxtend.preprocessing import TransactionEncoder

In [23]:
encoder = TransactionEncoder().fit(dataset)

In [24]:
onehot = encoder.transform(dataset)

In [25]:
import pandas as pd

In [26]:
onehot=pd.DataFrame(onehot,columns=encoder.columns_)

In [27]:
onehot

       1      2      3      4      5      6      7      9
0  False  False   True   True   True  False  False  False
1  False   True   True  False   True  False  False  False
2   True   True  False  False   True   True  False  False
3  False   True  False  False   True  False  False  False
4   True  False   True  False  False   True  False  False
5  False  False  False  False   True   True   True   True
6   True   True  False   True  False   True  False  False
7   True   True   True   True  False  False  False  False
8  False  False  False   True   True   True  False   True
9   True  False  False  False  False   True   True   True

In [28]:
from mlxtend.frequent_patterns import apriori

In [29]:
frequent_itemset=apriori(onehot,min_support=0.06,max_len=3,use_colnames=True)

In [30]:
print(frequent_itemset)

    support   itemsets
0       0.5        (1)
1       0.5        (2)
2       0.4        (3)
3       0.4        (4)
4       0.6        (5)
5       0.6        (6)
6       0.2        (7)
7       0.3        (9)
8       0.3     (1, 2)
9       0.2     (1, 3)
10      0.2     (1, 4)
11      0.1     (1, 5)
12      0.4     (1, 6)
13      0.1     (1, 7)
14      0.1     (1, 9)
15      0.2     (3, 2)
16      0.2     (4, 2)
17      0.3     (5, 2)
18      0.2     (6, 2)
19      0.2     (4, 3)
20      0.2     (3, 5)
21      0.1     (3, 6)
22      0.2     (4, 5)
23      0.2     (4, 6)
24      0.1     (4, 9)
25      0.3     (5, 6)
26      0.1     (5, 7)
27      0.2     (5, 9)
28      0.2     (7, 6)
29      0.3     (9, 6)
30      0.2     (7, 9)
31      0.1  (1, 3, 2)
32      0.2  (1, 2, 4)
33      0.1  (1, 5, 2)
34      0.2  (1, 6, 2)
35      0.1  (1, 3, 4)
36      0.1  (1, 3, 6)
37      0.1  (1, 6, 4)
38      0.1  (1, 5, 6)
39      0.1  (1, 7, 6)
40      0.1  (1, 9, 6)
41      0.1  (1, 7, 9)
42      0.1  (4, 3, 2)
43      0.1  (3, 5, 2)
44      0.1  (4, 6, 2)
45      0.1  (6, 5, 2)
46      0.1  (4, 3, 5)
47      0.1  (4, 5, 6)
48      0.1  (4, 5, 9)
49      0.1  (4, 9, 6)
50      0.1  (5, 7, 6)
51      0.2  (5, 9, 6)
52      0.1  (5, 7, 9)
53      0.2  (9, 7, 6)

In [31]:
from mlxtend.frequent_patterns import association_rules

In [32]:
rules=association_rules(frequent_itemset,metric="support",min_threshold=0)

In [33]:
print(rules)

    antecedents consequents  antecedent support  consequent support  support  \
0           (1)         (2)                 0.5                 0.5      0.3
1           (2)         (1)                 0.5                 0.5      0.3
2           (1)         (3)                 0.5                 0.4      0.2
3           (3)         (1)                 0.4                 0.5      0.2
4           (1)         (4)                 0.5                 0.4      0.2
..          ...         ...                 ...                 ...      ...
179      (6, 9)         (7)                 0.3                 0.2      0.2
180      (7, 6)         (9)                 0.2                 0.3      0.2
181         (9)      (7, 6)                 0.3                 0.2      0.2
182         (7)      (6, 9)                 0.2                 0.3      0.2
183         (6)      (7, 9)                 0.6                 0.2      0.2

     confidence      lift  leverage  conviction
0      0.600000  1.200000      0.05        1.25
1      0.600000  1.200000      0.05        1.25
2      0.400000  1.000000      0.00        1.00
3      0.500000  1.000000      0.00        1.00
4      0.400000  1.000000      0.00        1.00
..          ...       ...       ...         ...
179    0.666667  3.333333      0.14        2.40
180    1.000000  3.333333      0.14         inf
181    0.666667  3.333333      0.14        2.40
182    1.000000  3.333333      0.14         inf
183    0.333333  1.666667      0.08        1.20

[184 rows x 9 columns]

In [20]:
from mlxtend.frequent_patterns import apriori

In [34]:
frequent_itemset=apriori(onehot,min_support=0.001,max_len=2,use_colnames=True)

In [35]:
print(frequent_itemset)

    support itemsets
0       0.5      (1)
1       0.5      (2)
2       0.4      (3)
3       0.4      (4)
4       0.6      (5)
5       0.6      (6)
6       0.2      (7)
7       0.3      (9)
8       0.3   (1, 2)
9       0.2   (1, 3)
10      0.2   (1, 4)
11      0.1   (1, 5)
12      0.4   (1, 6)
13      0.1   (1, 7)
14      0.1   (1, 9)
15      0.2   (3, 2)
16      0.2   (4, 2)
17      0.3   (5, 2)
18      0.2   (6, 2)
19      0.2   (4, 3)
20      0.2   (3, 5)
21      0.1   (3, 6)
22      0.2   (4, 5)
23      0.2   (4, 6)
24      0.1   (4, 9)
25      0.3   (5, 6)
26      0.1   (5, 7)
27      0.2   (5, 9)
28      0.2   (7, 6)
29      0.3   (9, 6)
30      0.2   (7, 9)